@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: rgb(217, 217, 217);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container {
}

.showcase {
    height: 90vh;
    
}

.firstSection{
    margin: 2em;

    display:flex;
    border-radius: 1px;
    border: rgb(42,42,46) solid;
    -moz-box-shadow: 2px 2px 2.5px 0px #656565;
    -webkit-box-shadow: 2px 2px 2.5px 0px #656565;
    -o-box-shadow: 2px 2px 2.5px 0px #656565;
    box-shadow: 2px 2px 2.5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=2.5);
}



.Nord-img{
    background-image: url("../img/merNord.jpg");
    border-right: rgb(42,42,46) solid;
    border-radius: 1px;
    width: 33.3%;
    background-size: cover;
    background-position: center;
    position: relative;

}

.Sud-img{
    background-image: url("../img/merSud.jpg");
    background-position: 50%;
    border-right: rgb(42,42,46) solid;
    border-radius: 1px;
    width: 33.3%;
    background-size: cover;
    background-position: center;
    position: relative;

}

.West-img{
    background-image: url("../img/merOuest.jpg");
    width: 33.4%;
    background-size: cover;
    background-position: center;
    position: relative;

}

.secondSection{
    display: flex;
    margin: 2em;
    height: 60vh;
    background-color: #cfcccc;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 2.5px 0px #656565;
    -webkit-box-shadow: 2px 2px 2.5px 0px #656565;
    -o-box-shadow: 2px 2px 2.5px 0px #656565;
    box-shadow: 2px 2px 2.5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=2.5);
}

.image-surfer{
    width: 30%;
    background-image: url("../img/surfer.jpeg");
    background-size: cover;
    background-position: center;
}

.texte-surfer{
    width: 70%;
    color :rgb(42,42,46);

}



.texte-surfer .grospadding-titre{
    margin-left: 4%;
    margin-top: 2%;
}

.grospadding-text{
    margin-left: 6%;
    margin-top: 2%;
    margin-right:3%;
    height: 100%;
}

.texte-surfer .grospadding-text .text{
    font-size: 16px;
}

.hlink-Nord{
    width: 100%;
    display: block;
    height: 100%;
    background-color: rgba(36, 62, 206, 0.0);


}

.hlink-Nord:hover{
    background-color: rgba(26, 28, 36, 0.6);


}
.hlink-Sud:hover{
    background-color: rgba(26, 28, 36, 0.6);


}
.hlink-West:hover{
    background-color: rgba(26, 28, 36, 0.6);


}

.hlink-Sud{
    width: 100%;
    display: block;
    height: 100%;
    background-color: rgba(36, 62, 206, 0.0);
}
.hlink-West{
    width: 100%;
    display: block;
    height: 100%;
    background-color: rgba(36, 62, 206, 0.0);
}

.showcase.Nord-img p{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    font-family: 'Montserrat';
    font-size: 30px;
    color: rgb(0, 115, 188);
    transform: translate(-50%, -50%); 
    font-weight: 400;
}
.showcase.West-img p{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    font-family: 'Montserrat';
    font-size: 30px;
    color:rgb(0, 115, 188);
    transform: translate(-50%, -50%); 
    font-weight: 400;
}
.showcase.Sud-img p{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); 

    font-family: 'Montserrat';
    font-size: 30px;
    color:rgb(0, 115, 188);
    font-weight: 400;
}